# Core GUI Framework
PyQt6~=6.10.0
pyqt6-sip

# Computer Vision
opencv-python-headless~=4.12.0.88
numpy

# Screen Capture
mss~=10.1.0

# Input Control
PyAutoGUI~=0.9.54
keyboard~=0.13.5

# Window Management
pywinctl